/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: nowrap;
  text-align: center;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.table a {
  color: #0077cc;
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
}


